body {
  background-color: #f2f2f2;

    font-weight: 300;
    font-size: 16px;
    color: #555;
font-family:'DIN Pro Light';

}
a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}
.but a:hover, .but a:focus {
    color: #428bca !important;
    text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family:'DIN Pro Light';
    font-weight: 300;
    color: #333;


}
.number{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  font-family:'DIN Pro Medium';
}
.header_text{
  color: #b3b2b3;
  font-weight: 500;
  font-size: 12px;
}
.macmenu {
 display: inline-grid;
 width: 100%;
}
.button {
 /*выравнивание блока по центру*/
 width: 100%; /*ширина всего блока с меню*/
}
.button a img {
  width: 100%;
 float: left;
}
.button a {
 /*margin: 5px 15px;*/
 float: left;
}


.left60{
  width: 58%;
  float: left;
}

/*.right40{
  width: 42%;
  float: right;
}
.right40 img{
  height: 100%;
  width: 100%
}*/
.puzzle_text{
  text-transform: uppercase;
}
h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
}

.centered {
    text-align: center;
}
.right{
  text-align: right;
}
.blue{
  color: #007ec7;
}
.left{
  text-align: left;
}
.white{
  color: #fff;
}
.puzzle1{
  width: 20%;
  display: block;
}
.puzzle11{
  width: 20%;
  display: none;
}

.puzzle2{
  width: 19.8%;
  display: block;
  margin-top:1px;
  margin-left: -1px;
}
.puzzle22{
  display: none;
  width: 21.6%;
height: 100%;
margin-left: -1.9%;
margin-top: 0px;
}

.puzzle3{
  display: block;
  width:22%;
  margin-top: -1px;
  margin-bottom: -2.5px;
  margin-left: -0.1%
}
.puzzle33{
  margin-top: 0;
  display: none;
  width: 23.75% !important;
    margin-left: -1.9%;
    margin-right: 0.05%;
    margin-top: -0.8px;
    margin-bottom: -2.5px;
}
.puzzle4{
  width: 20.2%;
  display: block;
  margin-left: -1.95%;

}
.puzzle5{
  display: block;
  width: 22% !important;
  margin-left: -2%;
  margin-top: 0.4px;
}
/* Links */
.puzzle1:hover{
  background-image: url(../img/72.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.puzzle4:hover{
  background-image: url(../img/75.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.puzzle5:hover{
  background-image: url(../img/76.png);
  background-size: cover;
  background-repeat: no-repeat;
}



 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ff7878
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */
.margin{
  margin-top: -15px;
}

   .block1{
     height: 430px;

     background-image: url(../img/53.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: top right;
   }
   .block2{

     height: 430px;

     background-image: url(../img/57.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: top left;
   }
   .block3{

     height: 430px;

     background-image: url(../img/58.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: top right;
   }
#headerwrap {
	background: url(../img/42.png) no-repeat top;
margin-bottom: -0.7%;

	background-attachment: relative;
	background-position: center center;
	height: 75%;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 70px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
  margin-bottom: 0;
}

#headerwrap h2 {
	color: white;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 2px;
  margin-bottom: 20px;
}

.bg {
	background-image: url(../img/56.png);
  background-repeat: no-repeat;
	padding-top: 70px;
	padding-bottom: 70px;
  background-size: cover;

}
.dg{
  background: #f5f5f5;


}
.dg h1 {
	font-weight: 300;
}
.other_font{
  font-family:'DIN Pro Condensed Regular';
}
/* Light Grey */
.lg {
	background: #fff;
  padding-top: 2px;
}

.lg h4 {
	font-weight: 700;
}

/* Footer Wrap */
#f {
	background: #404040;
	padding-top: 70px;
	padding-bottom: 70px;
}
